<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pyhton-Server</title>
	<link rel="stylesheet" href="../static/styles/index.css">
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/index.js"></script>
</head>
<body>
	<div class="container">
		<h1>My First Python HTTP Server</h1><hr>
		<p>I like Coding In With Python</p><hr>
		<div class="input">
			<input id="comment" type="text" placeholder="your comment...">
			<input id="post"	type="submit" value="post">
		</div>
		<div class="link"><a href="https://github.com/BugDiver" target="_blank">Click image to know about Me<br><img src="../static/images/footu.jpg" alt="" height="600px"> </a></div>
	</div>
</body>
</html>